* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #26262c;
    color: rgb(255, 248, 233);
    margin: 0px;
}

header {
    background-color: #54545e;
    text-align: center;
    padding: 1px;
}

header h1 {
    text-shadow: 0px 2px 5px black;
}

main {
    margin: 20px;
}

main hr {
    width: 75%;
    border: 1px solid gray;
    grid-column: span 2;
}

.panel {
    background-color: #3f3f46;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.logic {
    background-color: #3f3f46;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.loot-list-table {
    border: 1px solid white;
    display: none;
    width: 100%;
}

.loot-list-table th {
    border-bottom: 1px solid white;
}

.loot-list-table td {
    text-align: center;
}

.removeFromLootButton {
    border: 1px solid white;
    padding: 3px;
    cursor: pointer;
}

quality-picker label {
    padding: 10px;
    cursor: pointer;
    background: #303030;
    border-radius: 5px;
    border: 1px solid black;
    display: inline-block;
    margin-top: 3px;
    user-select: none;
}

quality-picker label:has(input:checked) {
    box-shadow: 0px 0px 3px 1px inset #99F;
}

quality-picker label:has(input:focus-visible) {
    outline: 2px solid white;
}

quality-picker label input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

#invalid-party-size-message {
    color: lightcoral;
    display: none;
}

#no-loot-message {
    text-align: center;
}

#lootSplitOutput {
    display: none;
}

#lootSplitTable {
    border: 1px solid white;
    border-collapse: collapse;
    display: none;
    width: 100%;
}

#lootSplitTable tr {
    border-bottom: 1px solid white;
}

#lootSplitTable td.which-player {
    text-align: left;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
    background-color: rgb(0, 0, 56);
}

#lootSplitTable tr.loot-info td {
    text-align: center;
}


@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .reflection {
        grid-column: span 2;
    }
}